@import url('https://fonts.googleapis.com/css?family=VT323');

body{
  background-color: black;
}
canvas{
  margin: auto;
  margin-top: 10%;
}
#nameForm{
  position: absolute;
  /*height: 10%;*/
  /*left: 319px;*/
  top: 450px;
  font-family: 'VT323', monospace;
  font-size: 5em;
  background-color: black;
  color: white;
  text-align: center;

}

canvas {
  margin: auto;
}
